@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap');
html {
    height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend';
    background-color: #004266;
    background-blend-mode: multiply;

    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
  }

  #login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #my-logo {
    width: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    margin-top: 100px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .login-box button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
  }
  
  .login-box button span {
    position: absolute;
    display: block;
  }
  
  .login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }
  
  .login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }
  
  .login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
  
  .login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }

  .signup-link a {
    margin-left: 15rem;
    color: #03e9f4; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 18px;
    transition: font-size 0.2s ease-in-out; 
  }

  .signup-link a:hover {
    color: #03e9f4; 
    font-size: 20px;
    text-shadow: 0px 0px 8px #03e9f4; 
  }

  /* Signup box styles */
.dialog-content {
  position: absolute;
      top: 61.9%;
    left: 48.6%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  width: 300px;
  margin-left: 30px;
  text-align: left;
  cursor: pointer;

}

input::placeholder {
  color: #999; /* or any other lighter color you prefer */
  font-family: 'Lexend';
}

.dialog-content, h2 {
  color: black;
  text-align:center;

}

.close {
  position: absolute; /* Position the close button */
  top: 7px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.dialog-content input[type="email"],
.dialog-content input[type="text"] {
  width: 55%;
  padding: 12px;
  margin-bottom: 10px;
  margin-left: 2.9rem;
  border: none;
  border-radius: 3px;
  background-color: #f2f2f2;
}

.dialog-content input[type="password"] {
  width: 55%;
  padding: 12px;
  margin-bottom: 10px;
  margin-left: 1rem;
  border: none;
  border-radius: 3px;
  background-color: #f2f2f2;
}

#btn-l {
  background-color: #004266;
  color: cornsilk;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
  margin-left:8px;
}

#btn-l:hover {
  box-shadow: 0 0 10px 5px #527DF3;
  background-color: #0000B9;
}

#signup-dialog {
  display: none; /* Hide the sign up dialog by default */
  position: fixed; /* Keep the dialog fixed in place */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Add a transparent background */
  z-index: 9999; /* Set a high z-index to make sure it's on top of other elements */
}
.error_message {
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #8b0000;
  font-weight: bold;
  animation: fade-in 0.5s ease-in-out;
}

.fade-out {
  animation: fade-out 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
body.blur {
  backdrop-filter: blur(8px);
}
